.login-form-wrapper {
	border: 1px solid #e6e6e6;
	padding: 3rem;
	border-radius: 5px;
	width: 430px;
	margin: 50px auto;
	text-align: center;
}

.login-form {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.login-form-title {
	margin: 0 0 2rem 0;
	font-size: 2rem;
	font-weight: 500;
}

.login-btn {
	font-size: 14px;	
}

@media (max-width: 480px) {
	.login-form-wrapper {
		width: 90%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.login-form {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
}

@media (max-width: 375px) {
	.login-form-wrapper {
		padding: 2rem;
	}
}

@media (max-width: 320px) {
	.login-form-wrapper {
		padding: 2rem 1rem;
	}
}