.login-form-wrapper {
	border: 1px solid #e6e6e6;
	padding: 3rem;
	border-radius: 5px;
	width: 430px;
	margin: 50px auto;
	text-align: center;
}

.login-form {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.login-form-title {
	margin: 0 0 2rem 0;
	font-size: 2rem;
	font-weight: 500;
}

.login-btn {
	font-size: 14px;	
}